@font-face {
    font-family: "Ubuntu-Medium";
    src: url('Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url('Ubuntu-Regular.ttf') format('truetype');
}


* {
    font-family: "Ubuntu-Regular";
    background-color: rgb(42, 45, 54);
    color: seashell;
}

.main-header{
    font-family: Ubuntu-Medium;
    font-size: 250%;
    align-self: center;
    position: -webkit-sticky;
    position: sticky;
    padding: 10px;
    top: 0;
    margin-left: 160px; /* Same as the width of the sidebar */

}

/* Style page content */
.main {
        margin-left: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;
        inline-size: 750px;
    }


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(56, 1, 88); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: seashell;
    display: block;
  }
    
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: gray;
  }
  

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* The sidebar menu */
.indexnav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 100px; /* Stay at the top */
    left: 0;
    background-color: rgb(44, 77, 173); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .indexnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: seashell;
    display: block;
  }
    
  /* When you mouse over the navigation links, change their color */
  .indexnav a:hover {
    color: gray;
  }
  
  .work{
    padding-top: 50px;
  }

  .screenshot{
    width: 256px;
    height: 144px;
    display: block;
    padding-top: 25px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .indexnav {padding-top: 15px;}
    .indexnav a {font-size: 18px;}
  }